html {
    font-size: 16px;
}
* {
    margin: 0;
}
.fLeft {
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#root,
#root > div {
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* antd override */
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: none;
}
.ant-modal-content {
    background: none;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: #fff;
    width: 189px;
    height: 58px;
    padding: 13px 33px 15px 27px;
    border-radius: 46px;
	background-color: #c7747c;
	opacity: 1;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 8px 16px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 189px;
    text-align: center;
    height: 58px;
    justify-content: center;
    position: relative;
	top: 4px;
	left: 3px;
    opacity: 0.3;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
	border:none;
}
.ant-modal-header{
	display: none;
}
.ant-input,.ant-input:hover {
    background-color: transparent;
    background-image: none;
    border: 3px solid #fff !important;
	height: 73px;
	font-size: 18px;
}
.ant-form{
	margin-top:20px;
}
.ant-form-item-label > label {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.54px;
    text-align: left;
    color: #ffffff;
}
.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover{
	background: none;
}
.ant-modal-footer{
	display: none;
}